* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background:url(340120-forest-cartoon-wallpaper-top-free-forest-cartoon-background.jpg)
}

#container {
    height: auto;
    width: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
  border: 0.5px black;
    border-radius: 20px;
    padding: 30px;
    box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
    box-shadow: rgba(0, 0, 0, 0.2);
}

#startingPage {
    height: 220px;
    width: 400px;
}

#startingPage h2,
#winner h2 {
    font-size: 50px;
    color: #fcf3f3;
}

#startingPage #line {
    height: 1px;
    width: 100%;
    background: #ffffff;
    margin: 20px 0;
}

#startingPage h4 {
    font-size: 25px;
    color: #ffffff;
}

#startingPage #button {
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}

#button button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #348f0a;
    border: none;
    outline: none;
    color: #fefeff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#button button:first-child {
    margin-right: 40px;
}

#startingPage #button button:hover,
#winner #button button:hover {
    transform: scale(0.90);
}

#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#winner #button button {
    margin-top: 20px;
}

#mainPage {
    height: 550px;
    width: 350px;
    padding: 20px;
    position: relative;
    display: none;
}

#mainPage #headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 60px;
    width: 160px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 160px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 160px;
    border-radius: 5px;
    background: #0b9e37;
    z-index: 1;
    transition: 0.2s;
}

#gameBoard {
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: #51ff00;
}
@media only screen and (max-width:767px){

    body {
        display: grid;
        place-items: center;
        height: 100vh;
        background: url(340120-forest-cartoon-wallpaper-top-free-forest-cartoon-background.jpg);
      
        
        
        /* This ensures your background image is center-positioned vertically and horizontally */
        
        background-position: center center;
        
        /* This ensures your background image doesn’t tile */
        
        background-repeat: no-repeat;
        
        /*This fixes your background image within the viewport and ensures it doesn’t move when image is smaller than the content’s height */
        
        background-attachment: fixed;
        
        /* This makes your background image responsive and rescale according to the viewport or container size */
        
        background-size: cover;
        
        /* Choose your background color that appears while the image is still uploading */
        
        background-color: #D3D3D3;
    }
 
    
    #container {
        height:auto ;
        width: 400px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
      border: 0.5px black;
        border-radius: 20px;
        padding: 30px;
        box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
        box-shadow: rgba(0, 0, 0, 0.2);
    }
    
    #startingPage {
        height: 250px;
        width: 250px;
    }
   
    
    #startingPage h2,
    #winner h2 {
        font-size: 45px;
        color: #cdcfdb;
    }
    
    #startingPage #headerBtns {
        height: 1px;
        width: 250px;
        background: #c3cfdb;
        margin: 20px 0;
        
    }
    
    #startingPage h4 {
        font-size: 20px;
        color: #b9b9c5;
    }
    
    #startingPage #button {
        height: auto;
        width: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: row;
    }
    
    #button button {
        height: 55px;
        width: 150px;
        cursor: pointer;
        background: #49ca0e;
        border: none;
        outline: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        border-radius: 10px;
        transform: scale(1);
        box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
        transition: 0.5s;
    }
    
    #button button:first-child {
        margin-right: 40px;
    }
    
    #startingPage #button button:hover,
    #winner #button button:hover {
        transform: scale(0.90);
    }
    
    #winner {
        display: none;
    }
    
    #winner #button {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #winner #button button {
        margin-top: 20px;
    }
    
    #mainPage {
        height: 550px;
        width: 350px;
        padding: 20px;
        position: relative;
        display: none;
    }
    
    #mainPage #headerBtns {
        height: 60px;
        width: 310px;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    }
    
    #mainPage #headerBtns button {
        height: 60px;
        width: 160px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 20px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
    }
    
    #mainPage #headerBtns #O_Turn {
        left: 160px;
        z-index: 3;
    }
    
    #showChange {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 160px;
        border-radius: 5px;
        background: #348f0a;
        z-index: 1;
        transition: 0.2s;
    }
    
    #gameBoard {
        height: 400px;
        width: 330px;
        position: absolute;
        top: 150px;
        left: 10px;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 15px;
    }
    
    .boxes {
        height: 100px;
        width: 100px;
        box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
        display: grid;
        place-items: center;
        cursor: pointer;
    }
    
    .boxes i {
        font-size: 60px;
        color: #348f0a;
}

}